textarea {
    /* margin:0px 0px; this is redundant anyways since its specified below*/
    padding-top: 10px;
    padding-bottom: 25px;
    /* increased! */
    /* height:16px; */
    /* line-height:16px; */
    width: 100%;
    /* changed from 96 to 100% */
    display: block;
    /* margin:0px auto; not needed since i have width 100% now */
}


#footer {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 17px;
    /* Place the button at the bottom of the page */
    left: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Add a mouse pointer on hover */
}