<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jem - JsonCMS</title>
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 py-3 shadow p-3 mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: #ffdc14;">{ Jem }</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ol class="navbar-nav breadcrumb me-auto" style="margin-bottom: 0;">
                </ol>

                <div class="d-flex">

                </div>
            </div>
        </div>
    </nav>
    <div class="container px-5">
        <div class="card text-center">
            <div class="card-header">
                Welcome To Jem!
            </div>
            <div class="card-body">
                <h5 class="card-title">Json Editor & Visualization System</h5>
                <p class="card-text">Open your target json data From Local File or URL</p>
                <form action="/load_json" method="post">
                    <div class="input-group">
                        <input type="file" class="form-control" id="inputGroupFile04"
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="json_file">
                    </div>
                    or
                    <br>
                    <div class="input-group">
                        <input type="text" class="form-control" name="url">
                        <button type="button" class="btn btn-outline-secondary">Clipboard</button>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-warning">Open</button>
                </form>
            </div>
        </div>
    </div>

    <div class="alert alert-warning d-flex align-items-center" role="alert" id="footer">
        <div>
            Developed By Seyed Mahdi Hosseini
            <br>
            <a href="https://github.com/seyedmehdi23/Jem-JsonCMS" style="color: black;">
                <i class="bi-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/seyedmehdi23" style="color: black;">
                <i class="bi-linkedin"></i>
            </a>

        </div>
    </div>

    <script src="assets/js/components.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>